# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data
lib

repo
projects/survivors-delight/src/generated/resources/.cache
/projects/survivors-richsoils-neo/
/projects/tfc-heart-nourishment/
/projects/survivors-delight-neo/src/generated/resources/.cache/
/src/generated/resources/.cache/
